#supplier_icon {
  width: 12%;
  margin-bottom: 2.5%;
  margin-left: 2%;
}

#category_icon {
  width:10%;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  margin-top: 65px;
}